[flake8]

extend-ignore = E203, W503
    __init__.py F401

exclude =
    .git,
    .tox,
    __pycache__,
    # The * import causes lots of false positives.
    # tests/run_settings.py
    manage.py

application-import-names = allauth_2f2a, manage, tests
max-complexity = 20
max-line-length = 88
